@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
}

p {
  font-family: "Zen Dots", cursive;
}

.column1 {
  height: 100%;
  width: 30%;
  display: block;
}
.season-box {
  height: calc(100% / 3);
  width: 100%;
}

.column2 {
  height: 100%;
  width: 70%;
  display: flex;
}
.int1 {
  height: 100%;
  width: 65%;
}
.cool-box {
  height: calc(100% / 3);
  width: 100%;
}
.top {
  justify-content: center;
  align-items: last baseline;
  display: flex;
}
.middle {
  justify-content: center;
  align-items: center;
  display: flex;
}
.bottom {
  justify-content: center;
  align-items: first baseline;
  display: flex;
}
.int2 {
  height: 100%;
  width: 35%;
  display: block;
}

/* colors */
.column1 {
  background-color: rgb(231, 146, 146);
}
.season-box {
  background-color: rgb(41, 41, 41);
}
.column2 {
  background-color: rgb(98, 224, 48);
}
.int1 {
  background-color: rgb(51, 51, 51);
}
.int2 {
  background-color: rgb(51, 51, 51);
}

.gray {
  background-color: gray;
}
/* extra classes */
.gone {
  display: none;
}
.custom-font {
  font-family: "Zen Dots", cursive;
}
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* cool looking effects */
.clickable {
  filter: brightness(85%) drop-shadow(2px 6px 3px);
}
/* changes to the style when the user HOVERS */
.clickable:hover {
  cursor: pointer;
  filter: brightness(100%) drop-shadow(2px 8px 3px);
  transform: scale(1.04);
}
/* changes to the style when the user CLICKS */
.clickable:active {
  filter: drop-shadow(0px 0px 3px);
  transform: scale(0.98);
}

/* redo the images on ibis paint x so that they're all larger */
img {
  max-width: 100%;
  max-height: 100%;
}

/* responsive stuff yes*/
/* tablet version: */
@media only screen and (max-width: 750px) {
  .column2 {
    display: block;
  }
  .int1 {
    height: 70%;
    width: 100%;
  }
  .int2 {
    height: 30%;
    width: 100%;
  }
}

/* phone version: */
@media only screen and (max-width: 400px) {
  body {
    display: block;
  }
  .column1 {
    height: 20%;
    width: 100%;
    display: flex;
  }
  .season-box {
    height: 100%;
    width: calc(100% / 3);
  }
  .column2 {
    height: 80%;
    width: 100%;
    display: block;
  }
  .int1 {
    height: 75%;
    width: 100%;
  }
  .int2 {
    height: 25%;
    width: 100%;
  }
}
